.data{
  background-color: burlywood;
  padding: 0;
  width: 100%;
}

.item{
  padding: 5px 0;
  margin: 5px 0;
  display: inline-block;
}

.pre{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7)
}

.pre img{
  position: absolute;
  top: 50%;
}

.panel{
  padding: 10px 20px;
  border: 1px dotted #ddd;
  background-color: aliceblue;
  margin: 30px 0;
  position: relative;
  display: block;
  clear: both;
  min-height: 700px;
}

.panel .left{
  display: block;
  width: 250px;
  float: left;
}

.panel .right{
  height: 600px;
  display: block;
  width: 700px;
  float: left;
  padding: 0 20px;
}

.panel .right h2{
  font-size: 30px;
  margin: 0 0 20px;
  padding: 0;
}

.panel .left img{
  width: 250px;
}

.form{
  margin: 0 0 10px;
  padding: 0 0 10px;
}