<!--The content below is only a placeholder and can be replaced.-->
<div class="container data">

    <div class="panel">

        <h1>{{title}}</h1>
        <h3>{{subtitle}}</h3>

        <div class="form">
            <input class="form-control" placeholder="Movie title" [(ngModel)]="movie">
            <button (click)="updateDom($event)">Film keresése</button>
        </div>

        <hr>

        <div *ngIf="undefined !== items && 404 !== items; else noresult">
            <div class="left">
                <div><img src="{{items.Poster}}" width="400"></div>
            </div>
            <div class="right">
                <h2>{{items.Title}}</h2>
                <b>Produced: {{items.Year}}</b>
                <div>Released: {{items.Released}}</div>
                <div>Runtime: {{items.Runtime}}</div>
                <div>Actors: {{items.Actors}}</div>
                <div>Awards: {{items.Awards}}</div>
                <div>Director: {{items.Director}}</div>
                <div>Genre: {{items.Genre}}</div>
                <div>Language: {{items.Language}}</div>
                <div>Production: {{items.Production}}</div>
                <div>Writer: {{items.Writer}}</div>
                <div>Year: {{items.Year}}</div>
                <div>Website: <a href="{{items.Website}}">{{items.Website}}</a></div>
                <div>Rating: {{items.imdbRating}}</div>
                <div>Votes: {{items.imdbVotes}}</div>
                <div>Plot: {{items.Plot}}</div>
            </div>
        </div>

        <ng-template #noresult>Nincs találat!</ng-template>

    </div>

</div>

<div class="pre" *ngIf="undefined === items">
    <img src="/assets/img/2.gif" width="50">
</div>
